

.gradient{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}

.white-form{
    -fx-background-color: #fff;
}

.head-label{
    -fx-border-color: #286155;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
    -fx-background-radius: 5px;
    -fx-background-cursor: hand;
    -fx-text-fill:#fff;
    -fx-fony-size:14px;
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f);
}

.textfield{
    -fx-background-color:transparent;
    -fx-border-color: linear-gradient(to bottom right, #0f6789, #286155);
    -fx-border-width: .5px;

}

.textfield:focused{
    -fx-border-width: .1px;    
}

.creat-Btn{
    -fx-background-color:transparent;
    -fx-cursor: hand;
    -fx-text-fill:#fff;
    -fx-border-color: #fff;  
    -fx-border-width: 1px;  

}

.creat-Btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;  
}
